<h2 id="title" class="text-gray-900 text-center mt-2 text-lg font-extrabold">Ember Modifiers demo</h2>

<PopOver class="absolute" id="js_pop-over_1" as |popOver|>
  <popOver.trigger>
    {{#if selectedCategory}}
      {{selectedCategory}}
    {{else}}
        Select Category
    {{/if}}
  </popOver.trigger>
  {{#if popOver.isOpen}}
    <popOver.content @renderInPlace=true data-parent-id="js_pop-over_1" class="flex flex-col justify-center w-48 border border-gray-600 bg-white">
      {{#each this.categories as |category|}}
        <div data-pop-over="close" class="p-2 flex items-center border-b border-gray-600 cursor-pointer" {{on "click" (fn this.onCategorySelect category)}}>{{category}}</div>
      {{/each}}
    </popOver.content>
  {{/if}}
</PopOver>