{{#ember-wormhole to="body" renderInPlace=this.renderInPlace}}
  <div 
    {{pop-over-modifier animationDelay=250 isOpen=@isOpen renderInPlace=this.renderInPlace isClosing=@isClosing remove=@removePopOver }}
    class="absolute pop-over_content hf-slide-out-down" ...attributes>
    {{yield}}
  </div>
{{/ember-wormhole}}